<div class="thumb" data-project-categories="photography video">
				<a href="portfolio/another-video-project.html" title="Another Video Project">
					<img src="img/G.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="video">
				<a href="portfolio/full-width-youtube-project.html" title="Full Width YouTube Project">
					<img src="img/H.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="fashion">
				<a href="portfolio/fashion-week.html" title="Fashion Week" data-caption="Fashion Week <span>wihout featured media</span>">
					<img src="img/I.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="photography">
				<a href="portfolio/mysterious-skin.html" title="Mysterious Skin">
					<img src="img/J.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="fashion">
				<a href="portfolio/full-width-slider.html" title="Full Width Slider">
					<img src="img/K.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="video">
				<a href="portfolio/full-width-background-video.html" title="Full Width Background Video">
					<img src="img/L.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="fashion photography">
				<a href="portfolio/just-a-gallery.html" title="Gallery" data-caption="Beautiful Girls <span>simply a gallery<span>">
					<img src="img/M.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="photography">
				<a href="portfolio/fixed-width-slider.html" title="Fixed Width Slider">
					<img src="img/N.jpg" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="video">
				<a href="portfolio/vimeo-project.html" title="Vimeo Project">
					<img src="img/O.png" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="fashion photography">
				<a href="portfolio/full-width-image.html" title="Full Width Image" data-caption="Wide Angle <span> a full width media project</span>">
					<img src="img/P.png" alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="video">
				<a href="portfolio/vimeo-project.html" title="Vimeo Project">
					<img src="img/Q.png" alt="Katie BW">
				</a>
			</div><div class="thumb" data-project-categories="video">
				<a href="portfolio/vimeo-project.html" title="Vimeo Project">
					<img src="img/R.png" alt="Katie BW">
				</a>
			</div><div class="thumb" data-project-categories="video">
				<a href="portfolio/vimeo-project.html" title="Vimeo Project">
					<img src="img/S.jpg" alt="Katie BW">
				</a>
			</div>
		</div> -->