		<div id="grid" class="row">
			<div class="col-sm-6" data-project-categories="portraits">
				<a href="img/A.png" title="portraitA">
					<img src="img/A.png" style="max-width: 1000px;" alt="Katie white">
				</a>
			</div>
			<div class="col-sm-6" data-project-categories="portraits">
				<a href="img/B.png" title="portraitB">
					<img src="img/B.png" style="max-width: 1000px;" alt="Katie gold">
				</a>
			</div>
			<div class="col-sm-3" data-project-categories="portraits">
				<a href="img/C.jpg" title="portraitC">
					<img src="img/C.jpg" style="max-width: 1000px;"  alt="Katie whinnie">
				</a>
			</div>
			<div class="col-sm-3" data-project-categories="portraits">
				<a href="img/D.jpg" title="portraitD">
					<img src="img/D.jpg" style="max-width: 1000px;"  alt="Katie BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="portraits">
				<a href="img/E.jpg" title="MunkBW">
					<img src="img/E.jpg" style="max-width: 1000px;"  alt="Munk BW">
				</a>
			</div>
			<div class="thumb" data-project-categories="portraits">
				<a href="img/F.png" title="JesseBB">
					<img src="img/F.png" style="max-width: 1000px;"  alt="Jesse BB">
				</a>
			</div>
		</div>
